body {
  padding: 0;
  margin: 0;
}
.app {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.progress {
  height: 20px;
  width: 500px;
  background-color: white;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 25px;
  position: relative;
}
.progress span {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.progress div {
  width: 100%;
  height: 100%;
  background-color: green;
}
